.visNewVisDialog {
  // background: linear-gradient(-25deg, rgba(0,179,164,0.3) 0%,rgba(255,255,255,0) 30%) #FFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='518' height='390' viewBox='0 0 518 390'%3E%3Cdefs%3E%3CradialGradient id='untitled-a' cx='44.652%25' cy='43.213%25' r='93.783%25' fx='44.652%25' fy='43.213%25' gradientTransform='matrix(.54097 .76535 -.64329 .64361 .483 -.188)'%3E%3Cstop offset='0%25' stop-color='%23D9D9D9'/%3E%3Cstop offset='100%25'/%3E%3C/radialGradient%3E%3ClinearGradient id='untitled-b' x1='98.924%25' x2='7.157%25' y1='48.924%25' y2='48.924%25'%3E%3Cstop offset='0%25' stop-color='%23DFDDDD' stop-opacity='.25'/%3E%3Cstop offset='100%25' stop-color='%23FFF' stop-opacity='.2'/%3E%3C/linearGradient%3E%3ClinearGradient id='untitled-c' x1='0%25' y1='47.421%25' y2='47.421%25'%3E%3Cstop offset='0%25' stop-color='%23FFF' stop-opacity='.6'/%3E%3Cstop offset='100%25' stop-opacity='.25'/%3E%3C/linearGradient%3E%3ClinearGradient id='untitled-d' x1='0%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FFF' stop-opacity='.2'/%3E%3Cstop offset='100%25' stop-opacity='0'/%3E%3C/linearGradient%3E%3CradialGradient id='untitled-e' cx='0%25' cy='0%25' r='127.786%25' fx='0%25' fy='0%25' gradientTransform='matrix(.681 .68098 -.63327 .7323 0 0)'%3E%3Cstop offset='0%25' stop-color='%23BBB' stop-opacity='.1'/%3E%3Cstop offset='100%25' stop-opacity='.5'/%3E%3C/radialGradient%3E%3ClinearGradient id='untitled-f' x1='0%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FFF' stop-opacity='.4'/%3E%3Cstop offset='100%25' stop-opacity='0'/%3E%3C/linearGradient%3E%3CradialGradient id='untitled-g' cx='0%25' cy='0%25' r='148.851%25' fx='0%25' fy='0%25' gradientTransform='matrix(.67181 .67182 -.74072 .60932 0 0)'%3E%3Cstop offset='0%25' stop-color='%23FFF' stop-opacity='.101'/%3E%3Cstop offset='100%25' stop-opacity='.15'/%3E%3C/radialGradient%3E%3CradialGradient id='untitled-h' cx='0%25' cy='0%25' r='127.35%25' fx='0%25' fy='0%25' gradientTransform='matrix(.68331 .68332 -.73012 .63951 0 0)'%3E%3Cstop offset='0%25' stop-color='%23BBB' stop-opacity='.1'/%3E%3Cstop offset='100%25' stop-opacity='.5'/%3E%3C/radialGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='matrix(-1 0 0 1 518 0)'%3E%3Cg opacity='.1'%3E%3Cpolygon fill='%23E4E4E4' points='0 0 464 390 0 390'/%3E%3Cpolygon fill='url(%23untitled-a)' points='0 0 464 390 0 390' style='mix-blend-mode:overlay'/%3E%3C/g%3E%3Cg opacity='.05' transform='translate(248 161)'%3E%3Cpolygon fill='url(%23untitled-b)' points='0 0 270 229 0 229'/%3E%3Cpolygon fill='url(%23untitled-c)' points='0 0 270 229 0 229' style='mix-blend-mode:overlay'/%3E%3C/g%3E%3Cg opacity='.65' transform='matrix(0 -1 -1 0 146.5 389.5)'%3E%3Cpolygon fill='%23DD0A73' points='0 0 157 146 0 146' opacity='.418'/%3E%3Cpolygon fill='url(%23untitled-d)' points='0 0 157 146 0 146' style='mix-blend-mode:overlay'/%3E%3Cpolygon fill='url(%23untitled-e)' points='0 0 157 146 0 146' opacity='.618' style='mix-blend-mode:overlay'/%3E%3C/g%3E%3Cg opacity='.65' transform='translate(89 304)'%3E%3Cpath fill='%23017F75' d='M0,86 L78,86 C74.2038079,48.730962 43.6293886,16.7871605 0,0 L0,86 Z' opacity='.409'/%3E%3Cpath fill='url(%23untitled-f)' d='M0,86 L78,86 C74.2038079,48.730962 43.6293886,16.7871605 0,0 L0,86 Z' style='mix-blend-mode:overlay'/%3E%3Cpath fill='url(%23untitled-g)' d='M0,86 L78,86 C74.2038079,48.730962 43.6293886,16.7871605 0,0 L0,86 Z' opacity='.663' style='mix-blend-mode:overlay'/%3E%3C/g%3E%3Cg opacity='.15' transform='translate(74 312)'%3E%3Cpolygon fill='%23353535' points='0 0 73 78 0 78' opacity='.38'/%3E%3Cpolygon fill='url(%23untitled-d)' points='0 0 73 78 0 78' style='mix-blend-mode:overlay'/%3E%3Cpolygon fill='url(%23untitled-h)' points='0 0 73 78 0 78' style='mix-blend-mode:overlay'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% + 1px) calc(100% + 1px);
}

.visNewVisDialog__types {
  width: 400px;
  overflow-y: auto;
}

.visNewVisDialog__description {
  width: 380px;
  padding: $euiSizeM;
}

.visNewVisDialog__body {
  display: flex;
  overflow-y: hidden;
}

.visNewVisDialog__type:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.visNewVisDialog__typeLegacyIcon {
  font-size: $euiSizeL;
  color: $euiColorSecondary;
}

.visNewVisDialog__typeImage {
  @include size($euiSizeL);
}

@include euiBreakpoint('xs', 's') {
  .visNewVisDialog__types {
    width: auto;
  }
}
